
.BlurAllElementsExceptMessage_Alert > :not(.ContainerMessage_Alert) {
    filter: blur(8px);
}

.BtnStyle_1 {
    padding: 6px;
    width: 85px;
    border-radius: 4px;
    background: var(--ColorBase);
    color: #ffffff;
    transition: box-shadow .1s, background-color .15s;
    margin: 5px;
    border: none;
}

.BtnStyle_1:focus {
    background: #00e1c0;
    color: white;
}

.BtnStyle_1:active {
    box-shadow: none;
    transform: scale(.95);
}

.BtnStyle_1:hover {
    background: #00e1c0;
    color: white;
}

.BtnStyle_1_OutLine {
    padding: 6px;
    width: 85px;
    border-radius: 4px;
    background: inherit;
    color: var(--ColorBase);
    border: 1px solid var(--ColorBase);
    transition: box-shadow .1s, background-color .15s;
    margin: 5px;
}

.BtnStyle_1_OutLine:focus {
    background: #00e1c0;
    color: white;
}

.BtnStyle_1_OutLine:active {
    box-shadow: none;
    transform: scale(.95);
}

.BtnStyle_1_OutLine:hover {
    background: #00e1c0;
    color: white;
}

.ContainerMessage_Alert {
    display: inline-block;
    box-shadow: 0 0 0 100000px rgba(0, 0, 0, .5);
    background: #ffffff;
    position: fixed !important;
    top: 20%;
    z-index: 12;
    text-align: center;
    padding: 90px;
    padding-bottom: 110px;
    border-radius: 5px;
    animation: AnimationShowMessageAlert .5s;
}

@keyframes AnimationShowMessageAlert {
    0% {
        transform: translateY(-120px);
    }
    100% {
        transform: translateY(0);
    }
}

.TextMessage_Alert {
    font-size: 90%;
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 15px;
}

.TextMessage_Alert p {
    text-align: center;
    width: 100%;
    color: #ffb44e !important;
    margin-top: 5px;
    word-break: break-word;
    font-size: 90%;
}

.BtnClose1_Alert {
    position: absolute;
    right: 1%;
    top: 1%;
    color: #ff4c51;
    font-size: 110%;
    cursor: pointer;
}

.BtnClose1_Alert:hover {
    color: #ff282c;
}

.BtnClose_Alert {
    font-weight: bold;
    background: rgba(255, 102, 108, 0.7);
    position: absolute;
    right: 1%;
    bottom: 2%;
    color: #464646;
}

.BtnClose_Alert:hover {
    background: rgba(255, 102, 108, 0.85) !important;
}

.BtnClose_Alert:focus {
    background: rgba(255, 102, 108, 0.9) !important;
    color: #ffffff;
}

.BtnOk_Alert {
    font-weight: bold;
    background: rgb(81, 255, 163);
    position: absolute;
    left: 1%;
    bottom: 2%;
    color: #464646;
}

.BtnOk_Alert:hover {
    background: rgb(25, 232, 145) !important;
    color: #ffffff;
}

.BtnOk_Alert:focus {
    background: rgb(12, 232, 146) !important;
    color: #ffffff;
}

.ContainerMessage_Alert button {
    border: none;
    padding: 7px;
}

.ContainerMessage_Alert button:focus {
    outline: none;
}


#ContainerNotificationsMessage {
    position: fixed;
    top: 1%;
    right: 1%;
    z-index: 9999999;
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.NotificationMessage {
    position: relative;
    padding: 4px;
    margin: 15px 10px;
    width: 300px;
    box-shadow: 0 5px 8px rgba(148, 148, 148, 0.1);
    direction: rtl;
    text-align: center;
    border-radius: 4px;
    transition: all 1s;
    background: #ffffff;
    animation: ShowNotification_Animation_1 .3s;
}

.Notification_Removed {
    animation: Animation_Notification_Removed .25s forwards;
}

@keyframes Animation_Notification_Removed {
    100% {
        transform: translateX(-300px);
        opacity: 0;
    }
}

@keyframes ShowNotification_Animation_1 {
    0% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(0) translateY(0);
    }
}

.LevelOfNecessity_1 {
    width: 250px;
}

.LevelOfNecessity_1 p {
    font-size: 90%;
}

.LevelOfNecessity_2 {
    width: 280px;
}

.LevelOfNecessity_2 p {
    font-size: 95%;
}

.LevelOfNecessity_3 {
    width: 330px;
}

.LevelOfNecessity_3 p {
    font-size: 100%;
}

.LevelOfNecessity_4 {
    width: 350px;
}

.LevelOfNecessity_4 p {
    font-size: 110%;
}

.LevelOfNecessity_5 {
    width: 400px;
}

.LevelOfNecessity_5 p {
    font-size: 120%;
}


.NotificationMessage p {
    margin: 0;
    margin-top: 2px;
    padding-bottom: 20px;
}

.IconNotification {
    position: absolute;
    left: 7px;
    top: 7px;
    font-size: 110%;
}

.IconNotification_Success {
    color: #1af196;
}

.IconNotification_Error {
    color: #f15368;
}

.IconNotification_Warning {
    color: #ffaf07;
}

.BtnCloseNotification {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    text-align: right;
    display: block !important;
    font-size: 95%;
    cursor: pointer;
    transform: rotate(0) !important;
    color: #ff7e79;
}

.BtnCloseNotification:hover {
    color: #ff0c00;
}

.NotificationSuccess {
    box-shadow: 0 3px 1px #1af196;
}

.NotificationSuccess p {
    color: #17c3b2;
}

.NotificationError {
    box-shadow: 0 3px 1px #f15368;
}

.NotificationError p {
    color: #ff4558;
}

.NotificationWarning {
    border: 1px solid rgba(255, 209, 51, 0.35);
    box-shadow: 0 3px 1px #ffaf07;
}

.NotificationWarning p {
    color: #ffaf07;
}

.Success {
    box-shadow: 0 0 3px #17c3b2;
    color: #17c3b2;
}

.Success p {
    color: #17c3b2;
}

.Alert {
    box-shadow: 0 0 3px #ff4558;
    color: #ff4558;
}

.Alert p {
    color: #ff4558;
}

.Warning {
    box-shadow: 0 0 3px #ffd070;
}

.Warning p {
    color: #e0bc5e;
}

@media screen and (min-width: 1201px) {
    .ContainerMessage_Alert {
        width: 35%;
        left: 32.5%;
    }

    .TextMessage_Alert {
        font-size: 100%;
    }

    .ContainerBlur[Size='Medium'] {
        width: 70%;
        right: 15%;
    }

}

@media screen and (max-width: 1200px) {
    .ContainerMessage_Alert {
        width: 45%;
        left: 27.5%;
    }

    .TextMessage_Alert {
        font-size: 95%;
    }

}

@media screen and (max-width: 992px) {
    .ContainerMessage_Alert {
        width: 50%;
        left: 25%;
    }

    .TextMessage_Alert {
        font-size: 90%;
    }

    .ContainerBlur[Size='Small'] {
        width: 70%;
        right: 15%;
    }

}

@media screen and (max-width: 768px) {

    .ContainerMessage_Alert {
        width: 60%;
        left: 20%;
        padding: 80px 30px;
    }

    .TextMessage_Alert {
        font-size: 85%;
    }

    .TextMessage_Alert {
        width: 100%;
    }

    .ContainerBlur {
        width: 80%;
        right: 10%;
    }

    .ItemFormInput i {
        text-align: center;
        width: 10%;
        vertical-align: middle;
        font-size: 120%;
    }

    .ContainerBlur[Size='Small'] {
        width: 75%;
        right: 12.5%;
    }
}

@media screen and (max-width: 550px) {
    .ContainerMessage_Alert {
        width: 80%;
        left: 10%;
    }

    .TextMessage_Alert {
        font-size: 90%;
    }

    .ContainerBlur[Size='Medium'] {
        width: 85%;
        right: 7.5%;
    }

    .ContainerBlur[Size='Small'] {
        width: 88%;
        right: 6%;
    }
}

@media screen and (max-width: 400px) {

    .ContainerMessage_Alert {
        width: 90%;
        left: 5%;
    }

    .TextMessage_Alert {
        font-size: 95%;
    }

    .ContainerBlur[Size='Medium'] {
        width: 98%;
        right: 1%;
    }

    .ContainerBlur[Size='Small'] {
        width: 98%;
        right: 1%;
    }

}

@media screen and (max-width: 350px) {

    .ContainerMessage_Alert {
        width: 95%;
        left: 2.5%;
    }

    .TextMessage_Alert {
        font-size: 88%;
    }

}

