{% extends 'Base/BaseTemplate.html' %}
{% load FilterTags %}
{% block Title %}
    Molla - Blog - {{ Post.title }}
{% endblock %}


{% block Link %}
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/plugins/owl-carousel/owl.carousel.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/demos/demo-12.css">
    <style>
        .fa-times {
            color: #ff6559;
        }

        img {
            object-fit: cover;
        }

        #container-action-post {
            position: fixed;
            left: 25px;
            bottom: 25px;
            text-align: center;
            background: rgba(255, 255, 255, 0.9);
            backdrop-filter: blur(3px);
            border-radius: 10px;
            border: 1px solid rgba(221, 199, 177, 0.6);
            padding: 5px;
            z-index: 10;
        }


        [Like] {
            position: relative;
            font-size: 220%;
            cursor: pointer;
            display: block;
            margin-bottom: -3px;
            margin-top: 12px;
            color: #ff8571;
        }


        [Like]:after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            z-index: -1;
            animation: animation-heart-pulse 1.5s infinite;
        }

        .post-liked {
            font-weight: bold;
            color: #ff5735;
        }

        .post-liked:after {
            animation: none;
        }

        .post-liked + * {
            color: #ff5735;
        }

        [Like]:hover {
            color: #ff5735;
            font-weight: bold;
        }

        [countLike] {
            font-size: 90%;
        }


        @keyframes animation-heart-pulse {
            25% {
                background: rgba(255, 124, 85, 0.2);
                transform: scale(.9);
            }
            50% {
                background: rgba(255, 124, 85, 0.35);
            }
            85% {
                background: rgba(255, 124, 85, 0.1);
                transform: scale(1.5);
            }
        }

        [Save] {
            font-size: 170%;
            cursor: pointer;
            margin-top: 12px;
            margin-bottom: 14px;
            color: #888888;
        }

        [Save]:hover {
            color: #59b0ff;
        }

        .post-saved {
            color: #59b0ff;;
            font-weight: bold;
        }

        .comments li{
            padding: 10px;
        }

        .comment-select {
            animation: animation-comment-select 7s forwards;
            border-radius: 3px;
            border: 1px solid rgba(255, 255, 255, 0);
        }

        @keyframes animation-comment-select {

            40% {
                border: 1px solid rgb(255, 170, 115);
            }

            100% {
                border: 1px solid rgba(255, 255, 255, 0);
            }
        }


        .post-saved-animation {
            animation: animation-post-saved .5s backwards;
        }

        @keyframes animation-post-saved {
            25% {
                transform: rotate(-30deg);
            }
            50% {
                transform: rotate(25deg);
            }
        }

        @media screen and (max-width: 500px) {
            #container-action-post {
                left: 10px;
                bottom: 10px;
                padding: 3px;
            }

            [Like] {
                font-size: 200%;
            }
        }


    </style>
{% endblock %}


{% block Content %}
    <div class="page-wrapper">
        {% include 'Base/Header.html' %}
        <main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                <div class="container">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'public:home' %}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'blog:posts' %}">Blog</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ Post.title|truncatechars:30 }}</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="container">
                    <figure class="entry-media">
                        <div class="owl-carousel owl-simple owl-light owl-nav-inside" data-toggle="owl">
                            <img src="{{ Post.urlCover }}" class="w-100 h-100" alt="{{ Post.title }}"
                                 title="{{ Post.title }}">
                        </div><!-- End .owl-carousel -->
                    </figure><!-- End .entry-media -->
                    <div class="row">
                        <div class="col-lg-9">
                            <article class="entry single-entry">
                                <div class="entry-body">
                                    <div class="entry-meta">
                                        <a>{{ Post.dateTimePublish }}</a>
                                        <span class="meta-separator">-</span>
                                        <a>{{ Post.timePast }}</a>
                                        <span class="meta-separator">|</span>
                                        <a>{{ Post.commentsCount }} Comments</a>
                                    </div><!-- End .entry-meta -->

                                    <h2 class="entry-title entry-title-big">
                                        {{ Post.title }}
                                    </h2><!-- End .entry-title -->

                                    <div class="entry-cats">
                                        in <a
                                            href="{% url 'blog:category' slug=Post.category.slug %}">{{ Post.category.title }}</a>
                                    </div><!-- End .entry-cats -->
                                    {% if Post.withVideo %}
                                        <div>
                                            <br>
                                            <video src="{{ Post.urlVideo }}" controls class="w-100"></video>
                                            <br>
                                            <br>
                                        </div>
                                    {% endif %}
                                    <div class="entry-content editor-content">
                                        {{ Post.description|safe }}
                                    </div><!-- End .entry-content -->

                                    <div class="entry-footer row no-gutters flex-column flex-md-row">
                                        <div class="col-md">
                                            <div class="entry-tags">
                                                <span>Tags:</span>
                                                {% for Tag in Post.tags %}
                                                    <a href="{% url 'blog:tag' slug=Tag.slug %}">{{ Tag.title }}</a>
                                                {% endfor %}
                                            </div><!-- End .entry-tags -->
                                        </div><!-- End .col -->
                                        <div class="col-md-auto mt-2 mt-md-0">
                                            <div class="social-icons social-icons-color">
                                                <span class="social-label">Share this post:</span>
                                                <a href="https://www.facebook.com/sharer/sharer.php?u={{ urlPost }}"
                                                   class="social-icon social-facebook" title="Facebook"
                                                   target="_blank"><i class="icon-facebook-f"></i></a>
                                                <a href="http://twitter.com/share?text={{ Post.title|truncatechars:30 }}&url={{ urlPost }}"
                                                   class="social-icon social-twitter" title="Twitter"
                                                   target="_blank"><i class="icon-twitter"></i></a>
                                                <a href="https://telegram.me/share/url?url={{ urlPost }}&text={{ Post.title|truncatechars:30 }}"
                                                   class="social-icon" style="color:#4c93cc;" title="Telegram"
                                                   target="_blank"><i class="icon-telegram"></i></a>
                                                <a href="https://wa.me/?text={{ urlPost }}" class="social-icon"
                                                   style="color: #54cc8e" title="Whatsapp"
                                                   target="_blank"><i class="icon-whatsapp"></i></a>
                                            </div><!-- End .soial-icons -->
                                        </div><!-- End .col-auto -->
                                    </div><!-- End .entry-footer row no-gutters -->
                                </div><!-- End .entry-body -->

                            </article><!-- End .entry -->

                            <nav class="pager-nav" aria-label="Page navigation">
                                {% if PrevPost != None %}
                                    <a class="pager-link pager-link-prev"
                                       href="{% url 'blog:post' slug=PrevPost.slug %}" aria-label="Previous"
                                       tabindex="-1">
                                        Previous Post
                                        <span class="pager-link-title">{{ PrevPost.title }}</span>
                                    </a>
                                {% endif %}
                                {% if NextPost %}
                                    <a class="pager-link pager-link-next"
                                       href="{% url 'blog:post' slug=NextPost.slug %}" aria-label="Next" tabindex="-1">
                                        Next Post
                                        <span class="pager-link-title">{{ NextPost.title }}</span>
                                    </a>
                                {% endif %}
                            </nav><!-- End .pager-nav -->

                            <div class="related-posts">
                                <h3 class="title">Related Posts</h3><!-- End .title -->

                                <div class="owl-carousel owl-simple" data-toggle="owl"
                                     data-owl-options='{
                                        "nav": false,
                                        "dots": true,
                                        "margin": 20,
                                        "loop": false,
                                        "responsive": {
                                            "0": {
                                                "items":1
                                            },
                                            "480": {
                                                "items":2
                                            },
                                            "768": {
                                                "items":3
                                            }
                                        }
                                    }'>
                                    {% for Post in Post.relatedPosts %}
                                        <article class="entry entry-grid">
                                            <figure class="entry-media">
                                                <a href="{% url 'blog:post' slug=Post.slug %}">
                                                    <img src="{{ Post.urlCover }}" style="height: 200px;width: 100%;"
                                                         alt="{{ Post.title }}">
                                                </a>
                                            </figure><!-- End .entry-media -->
                                            <div class="entry-body">
                                                <div class="entry-meta">
                                                    <a>{{ Post.dateTimePublish }}</a>
                                                    <span class="meta-separator">|</span>
                                                    <a>{{ Post.commentsCount }} Comments</a>
                                                </div><!-- End .entry-meta -->

                                                <h2 class="entry-title">
                                                    <a href="{% url 'blog:post' slug=Post.slug %}">{{ Post.title|truncatechars:30 }}</a>
                                                </h2><!-- End .entry-title -->

                                                <div class="entry-cats">
                                                    in <a href="{{ Post.category.slug }}">{{ Post.category.title }}</a>
                                                </div><!-- End .entry-cats -->
                                            </div><!-- End .entry-body -->
                                        </article><!-- End .entry -->
                                    {% endfor %}
                                </div><!-- End .owl-carousel -->
                            </div><!-- End .related-posts -->

                            <div class="comments">
                                <h3 class="title">{{ Post.commentsCount }} Comments</h3><!-- End .title -->
                                <ul>
                                    {% for Comment in Post.comments %}
                                        <li id="comment-{{ Comment.id }}">
                                            <div class="comment">
                                                <figure class="comment-media">
                                                    <img src="{{ Comment.profile }}" alt="{{ Comment.name }}">
                                                </figure>
                                                <div class="comment-body">
                                                    <a class="comment-reply" style="cursor:pointer;"
                                                       onclick="replyComment('{{ Comment.id }}','{{ Comment.name }}')">Reply</a>
                                                    <div class="comment-user">
                                                        {% if Comment.replied %}
                                                            <h4>{{ Comment.name }}</h4>
                                                            <span style="font-size: 90%">replied to <span
                                                                    class="text-primary" style="cursor: pointer"
                                                                    onclick="GoToComment('{{ Comment.replied_comment.id }}')">{{ Comment.replied_comment.name }}</span></span>
                                                        {% else %}
                                                            <h4 class="mb-1">{{ Comment.name }}</h4>
                                                        {% endif %}
                                                        <div class="comment-date">{{ Comment.timePast }}</div>
                                                    </div><!-- End .comment-user -->
                                                    <div class="comment-content">
                                                        <p>{{ Comment.message }}</p>
                                                    </div><!-- End .comment-content -->
                                                </div><!-- End .comment-body -->
                                            </div><!-- End .comment -->
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div><!-- End .comments -->
                            {% if request.user.id != None %}
                                <div class="reply">
                                    <div class="heading d-flex justify-content-between align-items-center">
                                        <div>
                                            <h3 class="title">Leave A Reply</h3><!-- End .title -->
                                            <p class="title-desc">Your email address will not be published. Required
                                                fields
                                                are
                                                marked *</p>
                                        </div>
                                        <div>
                                            <p id="nameCommentReply"></p>
                                        </div>
                                    </div><!-- End .heading -->
                                    <form action="{% url 'blog:comment_post' %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="replied" id="input-replied-bool" value="False">
                                        <input type="hidden" name="replied_comment" id="input-replied-id">
                                        <input type="hidden" name="postID" value="{{ Post.id }}">
                                        <label for="reply-message" class="sr-only">Comment</label>
                                        <textarea name="message" id="reply-message" cols="30" rows="4"
                                                  class="form-control" required placeholder="Comment *" maxlength="1000"
                                                  minlength="3"></textarea>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="reply-name" class="sr-only">Name</label>
                                                <input type="text" class="form-control" id="reply-name"
                                                       name="name"
                                                       required placeholder="Name *" maxlength="50" minlength="3">
                                            </div><!-- End .col-md-6 -->

                                            <div class="col-md-6">
                                                <label for="reply-email" class="sr-only">Email</label>
                                                <input type="email" class="form-control" id="reply-email"
                                                       name="email"
                                                       required placeholder="Email *" maxlength="100" minlength="3">
                                            </div><!-- End .col-md-6 -->
                                        </div><!-- End .row -->

                                        <button type="submit" class="btn btn-outline-primary-2">
                                            <span>POST COMMENT</span>
                                            <i class="icon-long-arrow-right"></i>
                                        </button>
                                    </form>
                                </div><!-- End .reply -->
                            {% else %}
                                <p class="text-danger text-center">You should be logged in to post a comment</p>
                            {% endif %}
                        </div><!-- End .col-lg-9 -->
                        <aside class="col-lg-3">
                            <div class="sidebar">
                                <div class="widget widget-search">
                                    <h3 class="widget-title">Search</h3><!-- End .widget-title -->

                                    <form action="{% url 'blog:posts' %}">
                                        <label for="ws" class="sr-only">Search in blog</label>
                                        <input type="search" class="form-control" name="search" id="ws"
                                               placeholder="Search in blog" value="{{ searchValue|NoneVal:'' }}">
                                        <button type="submit" class="btn"><i class="icon-search"></i><span
                                                class="sr-only">Search</span></button>
                                    </form>
                                    {% if isSearched == True %}
                                        <div class="d-flex justify-content-between align-items-center mt-1">
                                            <div>
                                                <small class="text-light">Searched :</small>
                                                <br>
                                                <h6 style="color: #777777">{{ searchValue|truncatechars:20 }}</h6>
                                            </div>
                                            <p><a href="{% url 'blog:posts' %}">Clear</a></p>
                                        </div>
                                    {% endif %}
                                </div><!-- End .widget -->

                                <div class="widget widget-cats">
                                    <h3 class="widget-title">Categories</h3><!-- End .widget-title -->
                                    <ul>
                                        {% for Category in Categories %}
                                            <li>
                                                <a href="{% url 'blog:category' slug=Category.slug %}">{{ Category.title }}<span>{{ Category.countPosts }}</span></a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div><!-- End .widget -->
                                <div class="widget">
                                    <h3 class="widget-title">Popular Posts</h3><!-- End .widget-title -->
                                    <ul class="posts-list">
                                        {% for Post in PopularPosts %}
                                            <li>
                                                <figure>
                                                    <a href="{% url 'blog:post' slug=Post.slug %}">
                                                        <img style="height: 65px" src="{{ Post.urlCover }}"
                                                             alt="{{ Post.title }}">
                                                    </a>
                                                </figure>
                                                <div>
                                                    <span>{{ Post.dateTimePublish }}</span>
                                                    <h4>
                                                        <a href="{% url 'blog:post' slug=Post.slug %}">{{ Post.title|truncatechars:25 }}</a>
                                                    </h4>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul><!-- End .posts-list -->
                                </div><!-- End .widget -->

                                <div class="widget widget-banner-sidebar">
                                    <div class="banner-sidebar-title">ad box 280 x 280</div><!-- End .ad-title -->

                                    <div class="banner-sidebar banner-overlay">
                                        <a href="{% url 'product:products' %}">
                                            <img src="/assets/images/blog/sidebar/banner.jpg" alt="banner">
                                        </a>
                                    </div><!-- End .banner-ad -->
                                </div><!-- End .widget -->

                                <div class="widget">
                                    <h3 class="widget-title">Browse Tags</h3><!-- End .widget-title -->
                                    <div class="tagcloud">
                                        {% for Tag in Tags %}
                                            <a href="{% url 'blog:tag' slug=Tag.slug %}">{{ Tag.title }}</a>
                                        {% endfor %}
                                    </div><!-- End .tagcloud -->
                                </div><!-- End .widget -->

                                <div class="widget widget-text">
                                    <h3 class="widget-title">About Blog</h3><!-- End .widget-title -->

                                    <div class="widget-text-content">
                                        <p>Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod dui,
                                            pulvinar nunc sapien ornare nisl.</p>
                                    </div><!-- End .widget-text-content -->
                                </div><!-- End .widget -->
                            </div><!-- End .sidebar -->
                        </aside><!-- End .col-lg-3 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->
        {% include 'Base/Footer/index.html' %}
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>
    <div id="container-action-post">
        <div>
            {% if request.user.id != None %}
                {% if Post.id|ValInList:PostLiked %}
                    <i class="fal fa-heart post-liked" like id="btnLikePost"
                       onclick="actionLikePost(this,{{ Post.id }})"
                       state="like"></i>
                {% else %}
                    <i class="fal fa-heart" Like id="btnLikePost" onclick="actionLikePost(this,{{ Post.id }})"></i>
                {% endif %}
            {% else %}
                <a href="{% url 'user:login_register' %}"><i class="fal fa-heart" Like id="btnLikePost"></i></a>
            {% endif %}
            <span countLike id="countLike">{{ Post.likesCount }}</span>
        </div>
        <div>
            {% if request.user.id != None %}
                {% if Post.id|ValInList:PostSavedID %}
                    <i class="fal fa-bookmark btnBookmark post-saved"
                       Save state="saved"
                       onclick="actionSavePost(this,{{ Post.id }})"></i>
                {% else %}
                    <i class="fal fa-bookmark btnBookmark" Save
                       onclick="actionSavePost(this,{{ Post.id }})"></i>
                {% endif %}
            {% else %}
                <a href="{% url 'user:login_register' %}"><i class="fal fa-bookmark btnBookmark" Save></i></a>
            {% endif %}
        </div>
    </div>
    {% include 'Base/Menu.html' %}
{% endblock %}

{% block Js %}
    <!-- Plugins JS File -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/jquery.hoverIntent.min.js"></script>
    <script src="/assets/js/jquery.waypoints.min.js"></script>
    <script src="/assets/js/superfish.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <!-- Main JS File -->
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/Blog/index.js"></script>
    <script>
        GetCookieFunctionality_ShowNotification()
        let nameCommentReply = document.getElementById('nameCommentReply')
        let inputRepliedID = document.getElementById('input-replied-id')
        let inputRepliedBool = document.getElementById('input-replied-bool')

        function replyComment(id, name) {
            console.log(id)
            nameCommentReply.innerHTML = `Reply to <span class="text-primary">${name}</span> | <i class="fa fa-times" onclick="removeReplyComment()"></i>`
            inputRepliedBool.value = 'True'
            inputRepliedID.value = id
        }

        function removeReplyComment() {
            nameCommentReply.innerHTML = ''
            inputRepliedBool.value = 'False'
        }

        function GoToComment(id) {
            let comment = document.getElementById(`comment-${id}`)
            comment.classList.add('comment-select')
            comment.scrollIntoView({behavior: 'smooth'})
        }
    </script>
{% endblock %}