{% extends 'Base/BaseTemplate.html' %}

{% block Title %}
    Home - eshopMolla
{% endblock %}

{% block Link %}
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/assets/css/plugins/magnific-popup/magnific-popup.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/demos/demo-12.css">
    <link rel="stylesheet" href="/assets/css/demos/demo-5.css">
    <style>
        .btn-primary {
            background: #fff !important;
            color: #c96 !important;
            transition: all .4s;
        }

        .btn-primary:hover {
            transform: scaleX(1.1);
        }

        .btn-primary:active {
            transform: scaleX(1.1);
        }

        .btn-primary:focus {
            transform: scaleX(1.1);
        }

        .Categories .banner-content{
            text-align: center;
            margin: auto!important;
        }

        .Categories .banner-link{
            text-align: center!important;
            width: 30%!important;
            left: 35%;
            margin: -5px auto!important;
            position: absolute!important;
        }

    </style>
{% endblock %}


{% block Content %}
    <div class="page-wrapper">
        {% include 'Base/Header/index.html' with place='Home' %}

        <main class="main">
            <div class="intro-slider-container mb-3 mb-lg-5">
                <div class="intro-slider-container mb-0">
                    <div class="intro-slide"
                         style="background-image: url(assets/images/demos/demo-12/slider/slide-1.jpg);">
                        <div class="container intro-content text-center">
                            <h3 class="intro-subtitle text-white mb-2">Don’t Miss</h3><!-- End .h3 intro-subtitle -->
                            <h1 class="intro-title text-white">Mystery Deals</h1><!-- End .intro-title -->
                            <div class="intro-text text-white">Online Only</div><!-- End .intro-text -->
                            <a href="{% url 'product:products' %}" class="btn btn-primary">Discover NOW</a>
                        </div><!-- End .intro-content -->
                    </div><!-- End .intro-slide -->
                </div><!-- End .intro-slider-container -->

            </div><!-- End .intro-slider-container -->

            <div class="container">
                <div class="banner-group">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="banner banner-border">
                                <a href="{% url 'product:products' %}?orderby=popularity">
                                    <img src="assets/images/demos/demo-5/banners/banner-1.jpg" alt="Banner">
                                </a>

                                <div class="banner-content">
                                    <h4 class="banner-subtitle"><a href="{% url 'product:products' %}?orderby=popularity">Trending now</a></h4>
                                    <!-- End .banner-subtitle -->
                                    <h3 class="banner-title"><a href="{% url 'product:products' %}?orderby=popularity"><span>This Week's<br>Most Wanted</span></a>
                                    </h3><!-- End .banner-title -->
                                    <a href="{% url 'product:products' %}?orderby=popularity" class="btn btn-outline-primary-2 banner-link">Discover Now<i
                                            class="icon-long-arrow-right"></i></a>
                                </div><!-- End .banner-content -->
                            </div><!-- End .banner -->
                        </div><!-- End .col-md-6-->

                        <div class="col-md-6">
                            <div class="banner banner-border-hover">
                                <a href="{% url 'product:category' title='Shirt' %}">
                                    <img src="assets/images/demos/demo-5/banners/banner-2.jpg" alt="Banner">
                                </a>

                                <div class="banner-content">
                                    <h4 class="banner-subtitle"><a href="{% url 'product:category' title='Shirt' %}">New Shirt.</a></h4>
                                    <!-- End .banner-subtitle -->
                                    <h3 class="banner-title"><a href="{% url 'product:category' title='Shirt' %}"><span>Sports & Popular</span></a>
                                    </h3><!-- End .banner-title -->
                                    <a href="{% url 'product:category' title='Shirt' %}" class="btn btn-outline-primary-2 banner-link">Shop Now<i
                                            class="icon-long-arrow-right"></i></a>
                                </div><!-- End .banner-content -->
                            </div><!-- End .banner -->

                            <div class="banner banner-border-hover">
                                <a href="{% url 'product:category' title='Clothes' %}">
                                    <img src="assets/images/demos/demo-5/banners/banner-3.jpg" alt="Banner">
                                </a>

                                <div class="banner-content">
                                    <h4 class="banner-subtitle"><a href="{% url 'product:category' title='Clothes' %}">This week we love...</a></h4>
                                    <!-- End .banner-subtitle -->
                                    <h3 class="banner-title"><a href="{% url 'product:category' title='Clothes' %}"><span>Womens <br>Holiday Clothes</span></a>
                                    </h3><!-- End .banner-title -->
                                    <a href="{% url 'product:category' title='Clothes' %}" class="btn btn-outline-primary-2 banner-link">Discover Now<i
                                            class="icon-long-arrow-right"></i></a>
                                </div><!-- End .banner-content -->
                            </div><!-- End .banner -->
                        </div><!-- End .col-md-6 -->
                    </div><!-- End .row -->
                </div><!-- End .banner-group -->
            </div><!-- End .container -->

            <div class="bg-lighter pt-5 pb-5 mb-5">
                <div class="container">
                    <div class="heading text-center mb-4">
                        <h2 class="title">Recent Arrivals</h2><!-- End .title -->
                        <p class="title-desc">Aliquam tincidunt mauris eurisus</p><!-- End .title-desc -->
                    </div><!-- End .heading -->

                    <div class="owl-carousel owl-simple" data-toggle="owl"
                         data-owl-options='{
                            "nav": false,
                            "dots": true,
                            "margin": 20,
                            "loop": false,
                            "responsive": {
                                "0": {
                                    "items":2
                                },
                                "480": {
                                    "items":2
                                },
                                "768": {
                                    "items":3
                                },
                                "992": {
                                    "items":4
                                },
                                "1200": {
                                    "items":4,
                                    "nav": true
                                }
                            }
                        }'>
                        {% for product in products_recent %}
                            {% include 'Products/CardProduct.html' with product=product place_col='list' %}
                        {% endfor %}
                    </div><!-- End .owl-carousel -->
                </div><!-- End .container -->
            </div><!-- End .bg-lighter pt-5 pb-5 -->

            <div class="container Categories">
                <div class="heading text-center mb-4">
                    <h2 class="title">Popular Categories</h2><!-- End .title -->
                    <p class="title-desc">Vestibulum auctor dapibus neque</p><!-- End .title-desc -->
                </div><!-- End .heading -->

                <div class="row">
                    <div class="col-sm-6 col-lg-4">
                        <div class="banner banner-display banner-link-anim">
                            <a href="{% url 'product:category' title='Accessories' %}">
                                <img src="assets/images/demos/demo-12/banners/banner-4.jpg" alt="Banner">
                            </a>

                            <div class="banner-content banner-content-center">
                                <h3 class="banner-title text-white"><a>Accessories</a></h3>
                                <!-- End .banner-title -->
                                {#                                <h4 class="banner-subtitle text-white"><a href="#">16 Items</a></h4>#}
                                <!-- End .banner-subtitle -->
                                <a href="{% url 'product:category' title='Accessories' %}"
                                   class="btn btn-outline-white banner-link">Shop Now</a>
                            </div><!-- End .banner-content -->
                        </div><!-- End .banner -->
                    </div><!-- End .col-sm-6 -->
                    <div class="col-sm-6 col-lg-4 order-lg-last">
                        <div class="banner banner-display banner-link-anim">
                            <a href="{% url 'product:category' title='Jewellery' %}">
                                <img src="assets/images/demos/demo-12/banners/banner-5.jpg" alt="Banner">
                            </a>

                            <div class="banner-content banner-content-center">
                                <h3 class="banner-title text-white"><a>Jewellery</a></h3>
                                <!-- End .banner-title -->
                                {#                                <h4 class="banner-subtitle text-white"><a href="#">8 Items</a></h4>#}
                                <!-- End .banner-subtitle -->
                                <a href="{% url 'product:category' title='Jewellery' %}"
                                   class="btn btn-outline-white banner-link">Shop Now</a>
                            </div><!-- End .banner-content -->
                        </div><!-- End .banner -->
                    </div><!-- End .col-sm-6 -->
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="col-sm-6 col-lg-12">
                                <div class="banner banner-display banner-link-anim">
                                    <a href="{% url 'product:category' title='Clothing' %}">
                                        <img src="assets/images/demos/demo-12/banners/banner-6.jpg" alt="Banner">
                                    </a>

                                    <div class="banner-content banner-content-center">
                                        <h3 class="banner-title text-white"><a>Clothing</a></h3>
                                        <!-- End .banner-title -->
                                        {#                                        <h4 class="banner-subtitle text-white"><a href="#">24 Items</a></h4>#}
                                        <!-- End .banner-subtitle -->
                                        <a href="{% url 'product:category' title='Clothing' %}"
                                           class="btn btn-outline-white banner-link">Discover Now</a>
                                    </div><!-- End .banner-content -->
                                </div><!-- End .banner -->
                            </div><!-- End .col-sm-6 -->
                            <div class="col-sm-6 col-lg-12">
                                <div class="banner banner-display banner-link-anim">
                                    <a href="{% url 'product:category' title='Shoes' %}">
                                        <img src="assets/images/demos/demo-12/banners/banner-7.jpg" alt="Banner">
                                    </a>

                                    <div class="banner-content banner-content-center">
                                        <h3 class="banner-title text-white"><a>Shoes</a></h3>
                                        <!-- End .banner-title -->
                                        {#                                        <h4 class="banner-subtitle text-white"><a href="#">6 Items</a></h4>#}
                                        <!-- End .banner-subtitle -->
                                        <a href="{% url 'product:category' title='Shoes' %}"
                                           class="btn btn-outline-white banner-link">Shop Now</a>
                                    </div><!-- End .banner-content -->
                                </div><!-- End .banner -->
                            </div><!-- End .col-sm-6 -->
                        </div><!-- End .row -->
                    </div><!-- End .col-lg-6 -->
                </div><!-- End .row -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="banner banner-display banner-link-anim banner-title-hidden">
                            <a href="{% url 'product:products' %}?orderby=popularity">
                                <img src="assets/images/demos/demo-12/banners/banner-1.jpg" alt="Banner">
                            </a>
                            <div class="banner-content banner-content-center">
                                <h3 class="banner-title text-white"><a>This Week's Most Wanted</a></h3>
                                <!-- End .banner-title -->
                                <a href="{% url 'product:products' %}?orderby=popularity"
                                   class="btn btn-outline-white banner-link">Shop Now</a>
                            </div><!-- End .banner-content -->
                        </div><!-- End .banner -->
                    </div><!-- End .col-md-6 -->

                    <div class="col-md-6">
                        <div class="banner banner-display banner-link-anim banner-title-hidden">
                            <a href="{% url 'product:category' title='Bag' %}">
                                <img src="assets/images/demos/demo-12/banners/banner-2.jpg" alt="Banner">
                            </a>

                            <div class="banner-content banner-content-center">
                                <h3 class="banner-title text-white"><a>Bags by Mood</a></h3>
                                <!-- End .banner-title -->
                                <a href="{% url 'product:category' title='Bag' %}"
                                   class="btn btn-outline-white banner-link">Discover Now</a>
                            </div><!-- End .banner-content -->
                        </div><!-- End .banner -->
                        <div class="banner banner-display banner-link-anim banner-title-hidden">
                            <a href="{% url 'product:category' title='Shoes' %}">
                                <img src="assets/images/demos/demo-12/banners/banner-3.jpg" alt="Banner">
                            </a>

                            <div class="banner-content banner-content-center">
                                <h3 class="banner-title text-white"><a>The Trend Story</a></h3>
                                <!-- End .banner-title -->
                                <a href="{% url 'product:category' title='Shoes' %}"
                                   class="btn btn-outline-white banner-link">Shop
                                    Now</a>
                            </div><!-- End .banner-content -->
                        </div><!-- End .banner -->
                    </div><!-- End .col-md-6 -->
                </div><!-- End .row -->

                <div class="icon-boxes-container bg-transparent">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 col-lg-3">
                                <div class="icon-box icon-box-side">
                                    <span class="icon-box-icon">
                                        <i class="icon-rocket"></i>
                                    </span>
                                    <div class="icon-box-content">
                                        <h3 class="icon-box-title">Free Shipping</h3><!-- End .icon-box-title -->
                                        <p>Orders $50 or more</p>
                                    </div><!-- End .icon-box-content -->
                                </div><!-- End .icon-box -->
                            </div><!-- End .col-sm-6 col-lg-3 -->

                            <div class="col-sm-6 col-lg-3">
                                <div class="icon-box icon-box-side">
                                    <span class="icon-box-icon">
                                        <i class="icon-rotate-left"></i>
                                    </span>

                                    <div class="icon-box-content">
                                        <h3 class="icon-box-title">Free Returns</h3><!-- End .icon-box-title -->
                                        <p>Within 30 days</p>
                                    </div><!-- End .icon-box-content -->
                                </div><!-- End .icon-box -->
                            </div><!-- End .col-sm-6 col-lg-3 -->

                            <div class="col-sm-6 col-lg-3">
                                <div class="icon-box icon-box-side">
                                    <span class="icon-box-icon">
                                        <i class="icon-info-circle"></i>
                                    </span>

                                    <div class="icon-box-content">
                                        <h3 class="icon-box-title">Get 20% Off 1 Item</h3><!-- End .icon-box-title -->
                                        <p>When you sign up</p>
                                    </div><!-- End .icon-box-content -->
                                </div><!-- End .icon-box -->
                            </div><!-- End .col-sm-6 col-lg-3 -->

                            <div class="col-sm-6 col-lg-3">
                                <div class="icon-box icon-box-side">
                                    <span class="icon-box-icon">
                                        <i class="icon-life-ring"></i>
                                    </span>

                                    <div class="icon-box-content">
                                        <h3 class="icon-box-title">We Support</h3><!-- End .icon-box-title -->
                                        <p>24/7 amazing services</p>
                                    </div><!-- End .icon-box-content -->
                                </div><!-- End .icon-box -->
                            </div><!-- End .col-sm-6 col-lg-3 -->
                        </div><!-- End .row -->
                    </div><!-- End .container -->
                </div><!-- End .icon-boxes-container -->
            </div><!-- End .container -->
        </main><!-- End .main -->

        {% include 'Base/Footer/index.html' %}
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    {% include 'Base/Menu/MenuMobile.html' %}
{% endblock %}

{% block Js %}
    <!-- Plugins JS File -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.hoverIntent.min.js"></script>
    <script src="assets/js/jquery.waypoints.min.js"></script>
    <script src="assets/js/superfish.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/bootstrap-input-spinner.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Main JS File -->
    <script src="assets/js/main.js"></script>
    <script src="assets/js/demos/demo-12.js"></script>
{% endblock %}
