{% extends 'Base/BaseTemplate.html' %}
{% load humanize %}
{% block Title %}
    checkout
{% endblock %}

{% block Link %}
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/demos/demo-12.css">
    <style>
        .address {
            margin: 10px;
            margin-left: 15px;
            padding: 7px 10px;
            background: #f6f6f6;
            border-radius: 4px;
            position: relative;
            transition: all .2s;
        }

        .address label {
            width: 100%;
            height: 100%;
        }

        .address input {
            margin-left: 15px;
            transform: scale(.9);
            position: absolute;
            right: 10px;
            top: 10px;
        }

        .address:hover{
            outline: 1px solid #da863a;
        }

        .address  div{
            display: inline-block;
        }

        input[type='radio'] {
            -webkit-appearance: none;
            width: 20px;
            height: 20px;
            border: 1px solid darkgray;
            border-radius: 50%;
            outline: none;
        }

        input[type='radio']:hover {
            border: 1px solid #da863a;
        }

        input[type='radio']:before {
            content: '';
            display: block;
            width: 70%;
            height: 70%;
            margin: 15% auto;
            border-radius: 50%;
        }

        input[type='radio']:checked:before {
            background: #da863a;
        }
    </style>
{% endblock %}


{% block Content %}

    <div class="page-wrapper">
        {% include 'Base/Header/index.html' %}

        <main class="main">
            <div class="page-header text-center" style="background-image: url('/assets/images/page-header-bg.jpg')">
                <div class="container">
                    <br>
                    <br>
                    <br>
                    <h1 class="page-title">Checkout<span>Shop</span></h1>
                </div><!-- End .container -->
            </div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'public:home' %}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'user:dashboard' %}">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="checkout">
                    <div class="container">
                        <form action="{% url 'user:proccedToPayment' %}" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-9">
                                    {% if Order.withCoupon == False %}
                                        <div class="cart-discount">
                                            <div class="input-group">
                                                <input type="text" id="input-coupon" class="form-control"
                                                       placeholder="coupon code">
                                                <div class="input-group-append">
                                                    <button type="button" id="btnCoupon"
                                                            class="btn btn-outline-primary-2 h-75"><i
                                                            class="icon-long-arrow-right"></i></button>
                                                </div><!-- .End .input-group-append -->
                                            </div><!-- End .input-group -->
                                        </div>
                                    {% else %}
                                        <div class="cart-discount">
                                            <div class="input-group">
                                                <input type="text" value="Submited" class="form-control disabled"
                                                       placeholder="coupon code" disabled>
                                                <div class="input-group-append">
                                                    <p style="background: #fff;color: #30ee86"
                                                       class="p-2  h-75">
                                                        <i class="icon-check"></i>
                                                    </p>
                                                </div><!-- .End .input-group-append -->
                                            </div><!-- End .input-group -->

                                        </div>
                                    {% endif %}
                                    <p id="errorMessageCopunt" style="color: red;"></p>
                                    <br>
                                    <br>
                                    <div class="mb-3">
                                        <p>Select address :</p>
                                        <br>
                                        <a href="{% url 'user:dashboard' %}" target="_blank" style="font-size: 90%;color: #c96">Add address</a>
                                        {% for Address in request.user.getAddress %}
                                            <div class="address">
                                                <label>
                                                    <div class="col-sm-3">{{ Address.city }}</div>
                                                    <div class="col-sm-8">{{ Address.address }}</div>
                                                    <input type="radio" name="address"
                                                           id="address-{{ Address.id }}" value="{{ Address.id }}">
                                                </label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <label>Order notes (optional)</label>
                                    <textarea class="form-control" cols="30" rows="4" maxlength="1000" name="orderNote"
                                              placeholder="Notes about your order, e.g. special notes for delivery"></textarea>
                                </div><!-- End .col-lg-9 -->
                                <aside class="col-lg-3">
                                    <div class="summary">
                                        <h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

                                        <table class="table table-summary">
                                            <thead>
                                            <tr>
                                                <th>Product</th>
                                                <th>Total</th>
                                            </tr>
                                            </thead>

                                            <tbody>
                                            {% for detail in Cart.getDetails %}
                                                <tr>
                                                    <td>
                                                        <a href="{{ detail.product.get_absolute_url }}">{{ detail.product.title|truncatechars:20 }}
                                                            x {{ detail.count }}</a></td>
                                                    <td>${{ detail.product.price }}</td>
                                                </tr>
                                            {% endfor %}
                                            <tr class="summary-subtotal">
                                                <td>Subtotal:</td>
                                                <td>${{ Cart.getPrice }}</td>
                                            </tr><!-- End .summary-subtotal -->
                                            <tr>
                                                <td>Shipping:</td>
                                                <td>{{ Order.shipping.title }}</td>
                                            </tr>
                                            <tr>
                                                <td>Coupon:</td>
                                                <td>
                                                    <p id="stateUseCoupon">{{ Order.withCoupon|yesno }}</p>
                                                    {% if Order.withCoupon == True %}
                                                        <p style="font-size: 80%" id="priceCoupon">
                                                            ${{ Order.coupon.price }}</p>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            <tr class="summary-total">
                                                <td>Total:</td>
                                                <td>$<span>{{ Order.getPrice|intcomma }}</span>
                                                </td>
                                            </tr><!-- End .summary-total -->
                                            </tbody>
                                        </table><!-- End .table table-summary -->

                                        <div class="accordion-summary" id="accordion-payment">
                                            <div class="card">
                                                <div class="card-header" id="heading-3">
                                                    <h2 class="card-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse"
                                                           href="#collapse-3" aria-expanded="false"
                                                           aria-controls="collapse-3">
                                                            Cash on delivery
                                                        </a>
                                                    </h2>
                                                </div><!-- End .card-header -->
                                                <div id="collapse-3" class="collapse" aria-labelledby="heading-3"
                                                     data-parent="#accordion-payment">
                                                    <div class="card-body">Quisque volutpat mattis eros. Lorem ipsum
                                                        dolor
                                                        sit amet, consectetuer adipiscing elit. Donec odio. Quisque
                                                        volutpat
                                                        mattis eros.
                                                    </div><!-- End .card-body -->
                                                </div><!-- End .collapse -->
                                            </div><!-- End .card -->

                                            <div class="card">
                                                <div class="card-header" id="heading-4">
                                                    <h2 class="card-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse"
                                                           href="#collapse-4" aria-expanded="false"
                                                           aria-controls="collapse-4">
                                                            PayPal <small class="float-right paypal-link">What is
                                                            PayPal?</small>
                                                        </a>
                                                    </h2>
                                                </div><!-- End .card-header -->
                                                <div id="collapse-4" class="collapse" aria-labelledby="heading-4"
                                                     data-parent="#accordion-payment">
                                                    <div class="card-body">
                                                        Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra
                                                        non,
                                                        semper suscipit, posuere a, pede. Donec nec justo eget felis
                                                        facilisis fermentum.
                                                    </div><!-- End .card-body -->
                                                </div><!-- End .collapse -->
                                            </div><!-- End .card -->

                                            <div class="card">
                                                <div class="card-header" id="heading-5">
                                                    <h2 class="card-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse"
                                                           href="#collapse-5" aria-expanded="false"
                                                           aria-controls="collapse-5">
                                                            Credit Card (Stripe)
                                                            <img src="/assets/images/payments-summary.png"
                                                                 alt="payments cards">
                                                        </a>
                                                    </h2>
                                                </div><!-- End .card-header -->
                                                <div id="collapse-5" class="collapse" aria-labelledby="heading-5"
                                                     data-parent="#accordion-payment">
                                                    <div class="card-body"> Donec nec justo eget felis facilisis
                                                        fermentum.Lorem ipsum dolor sit amet, consectetuer adipiscing
                                                        elit.
                                                        Donec odio. Quisque volutpat mattis eros. Lorem ipsum dolor sit
                                                        ame.
                                                    </div><!-- End .card-body -->
                                                </div><!-- End .collapse -->
                                            </div><!-- End .card -->
                                        </div><!-- End .accordion -->

                                        <button type="submit" class="btn btn-outline-primary-2 btn-order btn-block">
                                            <span>Pay</span>
                                            {#                                            <span class="btn-hover-text">Proceed to Checkout</span>#}
                                        </button>
                                    </div><!-- End .summary -->
                                </aside><!-- End .col-lg-3 -->
                            </div><!-- End .row -->
                        </form>
                    </div><!-- End .container -->
                </div><!-- End .checkout -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

        {% include 'Base/Footer/index.html' %}
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>
    {% include 'Base/Menu/MenuMobile.html' %}

{% endblock %}

{% block Js %}
    <!-- Plugins JS File -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/jquery.hoverIntent.min.js"></script>
    <script src="/assets/js/jquery.waypoints.min.js"></script>
    <script src="/assets/js/superfish.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <!-- Main JS File -->
    <script src="/assets/js/main.js"></script>
    <script>
        let orderID = '{{ Order.id }}'
        let cartID = '{{ Cart.id }}'
    </script>
    <script>
        let btnCoupon = document.getElementById('btnCoupon')
        let inputCoupon = document.getElementById('input-coupon')
        let errorMessageCopunt = document.getElementById('errorMessageCopunt')
        if (btnCoupon) {
            btnCoupon.addEventListener('click', function () {
                let code = inputCoupon.value
                if (code.trim() != '') {
                    let data = {
                        'code': code,
                        'orderID': orderID,
                        'cartID': cartID
                    }
                    SendAjax('/p/checkCoupon', data, 'POST', function (response) {
                        let status = response.status
                        if (status == '200') {
                            window.location.reload()
                        } else {
                            errorMessageCopunt.innerText = 'Coupon is invalid'
                            setTimeout(function () {
                                errorMessageCopunt.innerText = ''
                            }, 3000)
                        }
                    })
                } else {
                    ShowNotificationMessage('code coupun can not be empty', 'Error')
                }
            })
        }
    </script>
{% endblock %}



