<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if pageActive.has_previous %}
            <li class="page-item">
                <button class="page-link page-link-prev" btn-previous-page-pagination aria-label="Previous"
                        tabindex="-1" aria-disabled="true">
                    <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev
                </button>
            </li>
        {% else %}
            <li class="page-item disabled">
                <button class="page-link page-link-prev" aria-label="Previous" tabindex="-1" aria-disabled="true">
                    <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev
                </button>
            </li>
        {% endif %}
        {% if pagination.currentPage == 1 %}
            <li class="page-item active" aria-current="page">
                <button class="page-link" btn-page-pagination pageNum="1">1</button>
            </li>
        {% else %}
            <li class="page-item">
                <button class="page-link" btn-page-pagination pageNum="1">1</button>
            </li>
        {% endif %}
        {% for pageNum in pagination.listRange %}
            {% if pageNum == pagination.currentPage %}
                <li class="page-item active" aria-current="page">
                    <button class="page-link" btn-page-pagination pageNum="{{ pageNum }}">{{ pageNum }}</button>
                </li>
            {% else %}
                <li class="page-item">
                    <button class="page-link" btn-page-pagination pageNum="{{ pageNum }}">{{ pageNum }}</button>
                </li>
            {% endif %}
        {% endfor %}
        {% if pagination.countPages > 1 %}
            {% if pagination.currentPage == pagination.lastPage %}
                <li class="page-item active" aria-current="page">
                    <button class="page-link" btn-page-pagination
                            pageNum="{{ pagination.lastPage }}">{{ pagination.lastPage }}</button>
                </li>
            {% else %}
                <li class="page-item">
                    <button class="page-link" btn-page-pagination
                            pageNum="{{ pagination.lastPage }}">{{ pagination.lastPage }}</button>
                </li>
            {% endif %}
        {% endif %}
        <li class="page-item-total">of {{ pagination.num_pages }}</li>
        {% if pageActive.has_next %}
            <li class="page-item">
                <button class="page-link page-link-next" btn-next-page-pagination aria-label="Next">
                    Next <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
                </button>
            </li>
        {% else %}
            <li class="page-item disabled">
                <button class="page-link page-link-next" aria-label="Next">
                    Next <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
                </button>
            </li>
        {% endif %}
    </ul>
</nav>
<script>
    // Pagination
    let btnsPage = document.querySelectorAll('[btn-page-pagination]')
    for (let btn of btnsPage) {
        btn.addEventListener('click', function () {
            let pageNum = this.getAttribute('pageNum')
            insertParam('page', pageNum)
        })
    }

    let btnNextPage = document.querySelector('[btn-next-page-pagination]')
    let btnPreVioustPage = document.querySelector('[btn-previous-page-pagination]')

    if (btnNextPage) {
        btnNextPage.addEventListener('click', function () {
            insertParam('page', window._pageNum + 1)
        })
    }
    if (btnPreVioustPage) {
        btnPreVioustPage.addEventListener('click', function () {
            insertParam('page', window._pageNum - 1)
        })
    }
</script>