<div class="product {% if place_col == 'single' or place_col == None %}col-6 col-md-4 col-lg-4 col-xl-3 col-xxl-2{% endif %}">
    <div class="product" style="border: 1px solid #F3F3F3">
        <figure class="product-media">
            {% if product.productIsStock %}
                {% if product.isNew %}
                    <span class="product-label label-new">New</span>
                {% endif %}
            {% else %}
                <span class="product-label label-out">Out of stock</span>
            {% endif %}
            <a href="{{ product.get_absolute_url }}">
                <img src="{{ product.getImageUrl }}" alt="{{ product.title }}"
                     class="product-image">
            </a>
            <div class="product-action-vertical">
                <a href="{% url 'product:addProductToWishList' slug=product.getSlug %}" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
            </div><!-- End .product-action -->

            <div class="product-action action-icon-top">
{#                <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>#}
                {#                <a href="popup/quickView.html" class="btn-product btn-quickview"#}
                {#                   title="Quick view"><span>quick view</span></a>#}
                {#                <a href="#" class="btn-product btn-compare"#}
                {#                   title="Compare"><span>compare</span></a>#}
            </div><!-- End .product-action -->
        </figure><!-- End .product-media -->
        <div class="product-body p-2">
            <h3 class="product-title"><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></h3>
            <!-- End .product-title -->
            <div class="product-price">
                {% if product.productIsStock %}
                    ${{ product.gerPrice }}
                    {% else %}
                    &nbsp; -
                {% endif %}
            </div><!-- End .product-price -->
            <div class="ratings-container">
                <div class="ratings">
                    <div class="ratings-val" style="width: {{ product.getRating }}%;"></div>
                    <!-- End .ratings-val -->
                </div><!-- End .ratings -->
                <span class="ratings-text">( {{ product.getComments.count }} Reviews )</span>
            </div><!-- End .rating-container -->
            <div class="d-flex justify-content-between">
                <div class="product-nav product-nav-dots">
                    {% for color in product.getColors %}
                        {% if forloop.counter < 6 %}
                            {% if product.productIsStock %}
                                <span title="{{ color.name }}" style="background: {{ color.color }};"><span
                                        class="sr-only">{{ color.name }}</span></span>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    {% if product.getColors.count > 5 %}
                        <p><b>+</b></p>
                    {% endif %}
                </div><!-- End .product-nav -->
                <div class="product-cat">
                    {% for category in product.categories.all %}
                        <a href="{{ category.get_absolute_url }}">{{ category.title }}</a>
                    {% endfor %}
                </div><!-- End .product-cat -->
            </div>
        </div><!-- End .product-body -->
    </div><!-- End .product -->
</div><!-- End .col-sm-6 col-lg-4 col-xl-3 -->
