<div class="col-6 col-md-4 col-lg-4 col-xl-3 col-xxl-2">
    <div class="product">
        <figure class="product-media">
            {% if product.isNew %}
                <span class="product-label label-new">New</span>
            {% endif %}
            <a href="product.html">
                <img src="{{ product.getImageUrl }}" alt="{{ product.title }}"
                     class="product-image">
            </a>

            <div class="product-action-vertical">
                <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
            </div><!-- End .product-action -->

            <div class="product-action action-icon-top">
                <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                {#                <a href="popup/quickView.html" class="btn-product btn-quickview"#}
                {#                   title="Quick view"><span>quick view</span></a>#}
                {#                <a href="#" class="btn-product btn-compare"#}
                {#                   title="Compare"><span>compare</span></a>#}
            </div><!-- End .product-action -->
        </figure><!-- End .product-media -->
        <div class="product-body">
            <h3 class="product-title"><a href="#">{{ product.title }}</a></h3>
            <!-- End .product-title -->
            <div class="product-price">
                ${{ product.gerPrice }}
            </div><!-- End .product-price -->
            <div class="ratings-container">
                <div class="ratings">
                    <div class="ratings-val" style="width: {{ product.getRating }}%;"></div>
                    <!-- End .ratings-val -->
                </div><!-- End .ratings -->
                <span class="ratings-text">( 0 Reviews )</span>
            </div><!-- End .rating-container -->
            <div class="d-flex justify-content-between">
                <div class="product-nav product-nav-dots">
                    {% for color in product.colors.all %}
                            <span title="{{ color.name }}" style="background: {{ color.color }};"><span
                            class="sr-only">{{ color.name }}</span></span>
                    {% endfor %}
                </div><!-- End .product-nav -->
                <div class="product-cat">
                    {% for category in product.categories.all %}
                        <a href="{{ category.get_absolute_url }}">{{ category.title }}</a>
                    {% endfor %}
                </div><!-- End .product-cat -->
            </div>
        </div><!-- End .product-body -->
    </div><!-- End .product -->
</div><!-- End .col-sm-6 col-lg-4 col-xl-3 -->
