{% extends 'Base/BaseTemplate.html' %}
{% load static %}



{% block Title %}
    Products - eshopMolla
{% endblock %}

{% block Link %}
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/assets/css/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="/assets/css/plugins/nouislider/nouislider.css">

    <link rel="stylesheet" href="/assets/css/demos/demo-12.css">
{% endblock %}

{% block Content %}

    <div class="page-wrapper">
        {% include 'Base/Header/index.html' %}

        <main class="main">
            <div class="page-header text-center">
                <div class="container-fluid">
                    {#                    <h1 class="page-title">Fullwidth No Sidebar<span>Shop</span></h1>#}
                </div><!-- End .container-fluid -->
            </div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
                <div class="container-fluid">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'public:home' %}">Home</a></li>
                        <li class="breadcrumb-item">Products</li>
                    </ol>
                </div><!-- End .container-fluid -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="container-fluid">
                    <div class="toolbox">
                        <div class="toolbox-left">
                            {% if filterIsActive == 'true' %}
                                <a href="#" class="sidebar-toggler btn-hover"><b><i
                                        class="icon-bars"></i>Filters</b></a>
                            {% else %}
                                <a href="#" class="sidebar-toggler"><i class="icon-bars"></i>Filters</a>
                            {% endif %}
                        </div><!-- End .toolbox-left -->

                        <div class="toolbox-center">
                            <div class="toolbox-info">
                                {% if pagination.step == countProducts %}
                                    Showing <span>{{ showingProducts }} of {{ countAllProduct }}</span> Products
                                {% else %}
                                    {% if countProducts != 0 %}
                                        Showing <span>{{ countAllProduct }} of {{ countAllProduct }}</span> Products
                                    {% endif %}
                                {% endif %}
                            </div><!-- End .toolbox-info -->
                        </div><!-- End .toolbox-center -->

                        <div class="toolbox-right">
                            <div class="toolbox-sort">
                                <label for="sortby">Sort by:</label>
                                <div class="select-custom">
                                    <select name="sortby" id="sortby" class="form-control">
                                        <option value="popularity" selected="selected">Most Popular</option>
                                        <option value="date">Date</option>
                                        <option value="price">Price</option>
                                    </select>
                                </div>
                            </div><!-- End .toolbox-sort -->
                        </div><!-- End .toolbox-right -->
                        <br>
                    </div><!-- End .toolbox -->
                    {% if searchIsActive %}
                        <div class="text-right mb-4">
                            <div dir="rtl">
                                <a href="{% url 'product:products' %}">clear search</a>
                                &nbsp;
                                <span class="text-light">|</span>
                                &nbsp;
                                <span class="text-info">{{ searchContent }}</span>
                                :
                                <span class="text-light"> search  </span>
                            </div>
                        </div>
                    {% endif %}
                    <div class="products">
                        <div class="row">
                            {% for product in products %}
                                {% include 'Products/CardProduct.html' with product=product %}
                            {% empty %}
                                <div class="text-center w-100 my-5">
                                    <img src="/assets/images/default/product/ImageBoxEmpty.jpg"
                                         class="d-block mx-auto mb-1" alt="Empty" style="width: 350px">
                                    <h4>No product</h4>
                                    <br>
                                    <br>
                                    <br>
                                </div>
                            {% endfor %}
                        </div><!-- End .row -->

                        {#                        <div class="load-more-container text-center">#}
                        {#                            <a href="#" class="btn btn-outline-darker btn-load-more">More Products <i#}
                        {#                                    class="icon-refresh"></i></a>#}
                        {#                        </div><!-- End .load-more-container -->#}
                    </div><!-- End .products -->
                    {% include 'Base/pageNavigation.html' %}
                    <div class="sidebar-filter-overlay"></div><!-- End .sidebar-filter-overlay -->
                    {% include 'Products/filterSection.html' %}
                </div><!-- End .container-fluid -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->
        {% include 'Base/Footer/index.html' %}
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    {% include 'Base/Menu/MenuMobile.html' %}


{% endblock %}


{% block Js %}
    <!-- Plugins JS File -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/jquery.hoverIntent.min.js"></script>
    <script src="/assets/js/jquery.waypoints.min.js"></script>
    <script src="/assets/js/superfish.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/wNumb.js"></script>
    <script src="/assets/js/bootstrap-input-spinner.js"></script>
    <script src="/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="/assets/js/nouislider.min.js"></script>
    <!-- Main JS File -->
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/products/filter.js"></script>
{% endblock %}



