{% load FilterTags %}
{% with SiteInfo=request|getInfoSite %}
    <style>
        pre{
            white-space: pre-wrap;
        }
    </style>
<footer class="footer footer-2">
    <div class="footer-middle">
        <div class="container-fluid">
            <div class="row d-flex justify-content-between">
                <div class="col-sm-12 col-lg-4">
                    <div class="widget widget-about">
                        <img src="/assets/images/logo.png" class="footer-logo" alt="Footer Logo" width="105"
                             height="25">
                        <div>
                            {{ SiteInfo.who_we_are|safe }}
                        </div>
                        <div class="widget-about-info">
                            <div class="row">
                                <div class="col-sm-6 col-md-4">
                                    <span class="widget-about-title">Got Question? Call us</span>
                                    <a href="tel:{{ SiteInfo.phone_number }}">{{ SiteInfo.phone_number }}</a>
                                </div><!-- End .col-sm-6 -->
                            </div><!-- End .row -->
                        </div><!-- End .widget-about-info -->
                    </div><!-- End .widget about-widget -->
                </div><!-- End .col-sm-12 col-lg-4 -->

                <div class="col-sm-4 col-lg-2">
                    <div class="widget">
                        <h4 class="widget-title">Information</h4><!-- End .widget-title -->
                        <ul class="widget-list">
                            <li><a href="{% url 'Public:aboutUs' %}">About Molla</a></li>
                            <li><a href="{% url 'public:FAQ' %}">FAQ</a></li>
                            <li><a href="{% url 'public:contactUs' %}">Contact us</a></li>
                            <li><a href="{% url 'user:login_register' %}">Log in</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-4 col-lg-2 -->


                <div class="col-sm-4 col-lg-2">
                    <div class="widget">
                        <h4 class="widget-title">Products</h4><!-- End .widget-title -->
                        <ul class="widget-list">
                            <li><a href="{% url 'product:products' %}">Products</a></li>
                            <li><a href="{% url 'product:category' title='Accessories' %}">Accessories</a></li>
                            <li><a href="{% url 'product:category' title='Bag' %}">Bags by Mood</a></li>
                            <li><a href="{% url 'product:products' %}?orderby=popularity">This Week's Most Wanted</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-4 col-lg-2 -->

                <div class="col-sm-4 col-lg-2">
                    <div class="widget">
                        <h4 class="widget-title">My Account</h4><!-- End .widget-title -->
                        <ul class="widget-list">
                            <li><a href="{% url 'user:dashboard' %}">Dashboard</a></li>
                            <li><a href="{% url 'user:cart' %}">View Cart</a></li>
                            <li><a href="{% url 'user:wishList' %}">My Wishlist</a></li>
                            <li><a href="{% url 'user:login_register' %}">Sign In</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-4 col-lg-2 -->

            </div><!-- End .row -->
        </div><!-- End .container-fluid -->
    </div><!-- End .footer-middle -->

    <div class="footer-bottom">
        <div class="container-fluid">
            <p class="footer-copyright">Copyright © 2022 <a href="http://fazelmomeni.codevar.ir" style="color: #c96"><b>&nbsp;Fazel Momeni</b></a></p>
            <!-- End .footer-copyright -->
            <ul class="footer-menu">
{#                <li><a href="#">Terms Of Use</a></li>#}
{#                <li><a href="#">Privacy Policy</a></li>#}
            </ul><!-- End .footer-menu -->

            <div class="social-icons social-icons-color">
                <a href="#" class="social-icon social-facebook" title="Facebook" target="_blank"><i
                        class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon social-twitter" title="Twitter" target="_blank"><i
                        class="icon-twitter"></i></a>
                <a href="#" class="social-icon social-instagram" title="Instagram" target="_blank"><i
                        class="icon-instagram"></i></a>
                <a href="#" class="social-icon social-youtube" title="Youtube" target="_blank"><i
                        class="icon-youtube"></i></a>
                <a href="#" class="social-icon social-pinterest" title="Pinterest" target="_blank"><i
                        class="icon-pinterest"></i></a>
            </div><!-- End .soial-icons -->
        </div><!-- End .container-fluid -->
    </div><!-- End .footer-bottom -->
</footer><!-- End .footer -->

{% endwith %}